#submit{
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 0.2px black;
  margin-top: 10px;
  cursor: pointer;
  background-color: aqua;
  color: hsla(0, 0%, 0%, 0.851);
 }
 
 #submit:hover {
  padding: 8px 16px;
  
 }

 