
p{
  font-family: roboto;
  margin-top: 0;
  margin-bottom: 0;
}

body{
font-family: roboto;
 margin: 0;
 padding-left: 120px;
margin-top: 140px;
background-color: rgb(247, 247, 247);
padding-right: 30px;
}